/* Gaya tampilan BODY */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Gaya tampilan NAVBAR */
.navbar {
    background-color: #749BC2;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #102C57;
}

/* Gaya tampilan konten LANDING */
.landing-content {
    padding: 100px;
    text-align: center;
    background-color: #f8f9fa;
    min-height: calc(100vh - 56px);
}

/* Gaya tampilan footer */
.footer {
    background-color: #343a40;
    color: #fff;
}

/* Gaya tampilan card kegiatan HOME */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Gaya tampilan kotak ABOUT */
.about-box {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gaya tampilan PAGINASI */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a:hover {
    background-color: #f0f0f0;
}